@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');

:root {
	--green: #54e6af;
	--greenHover: #b3ffe2;
	--greyHard: #2c344b;
	--dark: #121725;
	--white: #ffffff;
	--greyMedium: #5a668a;
	--greyLight: #c2cbe5;
	--error: #fb3e3e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Chivo', sans-serif;
}

body {
	background-color: var(--dark);
	position: relative;
	height: 100vh;
}

/* Mobile */
@media (min-width: 375px) {
	body::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: url(./images/backPhoto.png);
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		opacity: 0.1;
	}

	.header {
		display: flex;
		justify-content: center;
		padding: 6.2rem 6.2rem 5.7rem 6.2rem;
		/* confirmar */
	}

	.box {
		text-align: center;
		padding: 0 2.6rem;
	}

	.box__title {
		color: var(--green);
		font-size: 2.6rem;
		font-weight: 300;
		line-height: 3.8rem;
		margin-bottom: 1.6rem;
	}
	.box__title--white {
		color: var(--white);
	}
	.box__paragraph {
		color: var(--greyLight);
		font-size: 1.5rem;
		line-height: 2.5rem;
		margin-bottom: 3.3rem;
	}

	.box__sponsors {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4.7rem;
	}

	.box__form {
		display: flex;
		flex-direction: column;
	}
	.box__inputEmail {
		background-color: var(--greyHard);
		border: none;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 2.8rem;
		border-radius: 2.5rem;
		padding: 0.9rem 0 0.9rem 3.2rem;
		margin-bottom: 1.5rem;
	}
	.box__inputEmail:focus {
		outline: none;
		color: var(--white);
	}
	.box__inputEmail::after {
		color: var(--white);
	}
	.box__form--error {
		color: var(--error);
		font-size: 1.2rem;
		margin: -1rem 0 1rem 0;
		padding-left: 3.5rem;
		text-align: left;
	}
	.box__submit {
		border: none;
		border-radius: 2.5rem;
		background-color: var(--green);
		color: var(--dark);
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 2.8rem;
		padding: 0.9rem 0;
	}
	.box__submit:hover {
		background-color: var(--greenHover);
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
	.header {
		/* display: flex;
	justify-content: center;
	padding: 6.2rem 6.2rem 5.7rem 6.2rem; */
		display: flex;
		justify-content: space-between;
		padding: 0;
	}
	.header__logo {
		height: 100%;
		padding: 6.2rem 6.2rem 5.7rem 6.2rem;
	}
	.header__photo {
		/* opacity: 0.07;
		background-image: url(./images/backPhoto.png);
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		z-index: -1;
		top: 0;
		left: 0;
		position: fixed; */

		opacity: 1;
		background-image: url(./images/tabletImage.png);
		/* display: block; */
		z-index: auto;
		position: absolute;
		/* position: static; */
		height: 80vh;
		width: 50vw;
		text-align: right;
	}

	.box {
		/* text-align: center;
		padding: 0 2.6rem; */
		position: relative;
	}
}
